body {
    background-image: url("/assets/images/footer_lodyas.png");
}

.navbar-nav {
    min-height: 100vh;

    > li {
        float: none;
        background: #313234;
        width: 10em;
        text-align: center;
        font-size: 2em;
        font-weight: 100;

        a {
            color: #bbbbbb;

            &:hover {
                color: #646C73;
            }
        }

        .away {
            color: #646C73;
        }
    }
}