body {
    // background: #061B3A;
}

.navbar-nav {
    min-height: 100vh;
    background: #272A2C;

    > li {
        float: none;
        background: #313234;
        width: 10em;
        text-align: center;
        font-size: 2em;
        font-weight: 100;

        .away {
            color: #646C73;
        }
    }
}